{% extends "base.html" %}
{% load static %}

{% block title %}
    Головна
{% endblock %}

{% block content %}
<div class="container mt-5">

    <button class="btn btn-primary mb-4" onclick="toggleCategories()">УСІ КАТЕГОРІЇ</button>

    <div id="categoryList" style="display: none; display: block; flex-direction: column;">
        {% for category in categories %}
            <div style="margin-bottom: 10px;">
                <a href="{% url 'category_detail' category.slug %}" class="btn btn-outline-primary w-100 text-start">
                    {{ category.name }}
                </a>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    function toggleCategories() {
        const list = document.getElementById("categoryList");
        if (list.style.display === "none" || list.style.display === "") {
            list.style.display = "block";  // показати як стовпчик
        } else {
            list.style.display = "none";   // приховати
        }
    }
</script>
{% endblock %}


